  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
         <% if @user.errors.any? %>
          <h3><%= @user.errors.count %>error prohibited this book from being saved</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
             <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <h1>User info</h1>
        <%= form_with model: @user do |f| %>
        
        <div class="form-group">
          <label for="user_Name">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"user_Name", placeholder:"Name"%>
        </div>
        
        <div class="form-group">
          <label for="inputImage">Image</label><br>
          <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>  
        </div>
        
        <div class="form-group">
        <label for="user_Introduct">Introduction</label><br>
        <%= f.text_area :introduct, autofocus: true, id:"user_Introduct", placeholder: "Introduction" %>
        </div>
        
        <div class="action">
          <%= f.submit 'Update User', class: "btn btn-secondary" %>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>